*{
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: white;
}

.border{
    border: 1px solid white;
    min-height: 20px;
}

.agenda{
}

.marcacao{
    box-shadow: 1px 2px black;
    margin-bottom: 10px;
}

.data{
    padding: 15px;
    background-color: #383838;
    border-bottom: 1px solid #242424;
    border-radius: 20px 0px 0px 20px;
}

.dados{
    padding: 15px;
    background-color: #505050;
    border-right: 2px solid #242424;
    border-bottom: 1px solid #242424;
}

.botaodireita{
    padding: 15px;
    background-color: #505050;
    border-bottom: 1px solid #242424;
    border-radius: 0px 20px 20px 0px;
}

.ultima{
    margin-bottom: 0px;
}

.info{
    background-color: #383838;
    border-bottom: 1px solid #242424;
    box-shadow: 1px 2px black;
}
