*{
    margin: none;
    padding: none;
    background-color: #888888;
    color: white;
}
body{
    padding: 0;
    margin: 0;
}

.agenda{
    min-height: 120px;
    padding-right: 0;
    margin-right: 0;
}

.data{
    padding: 15px 0;
    min-width: 100px;
    background-color: #383838;
    margin-bottom: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 20px 0px 0px 20px;
}

.dia-mes-agenda{
    font-size: 1.5em;
    background-color: inherit;
    display: block;
}

.hora-agenda{
    margin-top: 30px;
    color: white;
    background-color: #383838;
    pointer-events: none;
    display: block;
}

.dados{
    padding: 15px 0;
    color: white;
    background-color: #505050;
    margin-bottom: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.dados:hover{
    color: orange;
    text-decoration: none;
    background-color: #404040;
}

.dados:hover > .status-agenda{
    border-color: orange;
}

.nome-agenda{
    display: block;
    text-align: left;
    color: inherit;
    background: inherit;
    font-size: 1.1em;
    font-weight: 500;
}

.medico-agenda{
    display: block;
    text-align: left;
    color: inherit;
    background: inherit;
    margin-bottom: 30px;
}

.telefone-agenda{
    color: inherit;
    background: inherit;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 1px;
}

.icone-telefone{
    background: inherit;
    color: inherit;
}

.status-agenda{
    color: inherit;
    border: 1px solid white;
    padding: 3px 7px;
    background: inherit;
    border-radius: 20px;
    float: right;
    font-size: .8em;
    font-weight: 500;
    text-transform: uppercase;
}

.disponivel{
    background: inherit;
    color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botaodireita{
    padding: 0px;
    color: inherit;
    background-color: #505050;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}

.botaodireita:hover{
    background-color: #383838;
    color: orange;
}

.botaodireita>span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
    background-color: transparent;
}

.ultima{
    margin-bottom: 0px;
}

.info{
    padding: 20px;
    background-color: #383838;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    min-height: 150px;
}

.foto-info{
    font-size: 100px;
    background: inherit;
    text-align: center;
    margin-bottom: 20px;
}

.nome-info{
    font-weight: bold;
    font-size: 1.2em;
    background: inherit;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.data-hora-info{
    text-align: left;
    color: inherit;
    background: inherit;
    margin-bottom: 30px;
    padding: 0 30px;
}

.data-hora{
    color: inherit;
    background: inherit;
}

.status-info{
    color: inherit;
    border: 1px solid white;
    padding: 3px 7px;
    background: inherit;
    border-radius: 20px;
    float: right;
    font-size: .8em;
    font-weight: 500;
    text-transform: uppercase;
}

.contato-info{
    background: inherit;
    padding: 0 30px;
}

.telefone-info{
    background: inherit;
    padding: 0;
    text-align: center;
}
.texto-telefone-info, .numero-telefone-info, .texto-email-info, .valor-email-info{
    background: inherit;
    color: inherit;
    text-align: center;
}

.email-info{
    background: inherit;
    padding-left: 5%;
    text-align: center;
}

.icone-email{
    background: inherit;
    color: inherit;
}

.medico-info{
    background: inherit;
    font-weight: bold;
    padding: 0 30px;
}

.info-disp{
    padding: 20px;
    background-color: #383838;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 190px;
}

.marca{
    color: inherit;
    background: inherit;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.marca:hover{
    color: #505050;
    background-color: orange;
    border-color: orange;
    text-decoration: none;
}
